.listeners
	display flex
	flex-direction column
	background #242731
	border-radius 4px
	box-shadow 0 0 5px rgba(0, 0, 0, .6)

	&__title
		overflow hidden
		margin 0
		padding 16px 24px
		color #f0f0f0
		font-size 19px
		font-weight 500
		white-space nowrap
		text-overflow ellipsis
		border-bottom 1px solid #1E212B

	&__table-wrapper
		position relative
		padding 0 0 16px

	&__header-table
		position absolute
		top 0
		right 0
		left 0
		overflow-y scroll
		height 40px
		box-shadow 0 0 5px rgba(0, 0, 0, .6)

		& ^[-1]__table-body
			visibility hidden

	&__body-table
		position relative
		z-index 1
		overflow hidden
		max-height 250px
		padding-top 40px

	&__body-table-inner
		overflow-y scroll
		max-height 250px

	&__table
		position relative
		width 100%
		color rgba(255, 255, 255, .7)
		font-size 14px

	&__table-head
		height 40px
		line-height 40px
		background #242731

	&__table-body
		width 100%

	&__table-row
		&:nth-child(even)
			background-color rgba(0, 0, 0, .2)

	&__table-col
		padding 8px 16px
		font-weight 400
		text-align left

		&_type
			&_head
				padding 0 16px
				font-weight 500
