.page
	&_theme
		&_dark
			--primary-text #e0e0e0
			--secondary-text #aaaaaa
			--accent-text #ffffff
			--contrast-text #ffffff
			--primary-background #0d0d0d
			--secondary-background #1d1d1d
			--accent-background #333333
			--shadow rgba(0, 0, 0, .14)
			--error #C0392B

		&_blue
			--primary #749ce5
			--primary-dark darken(#749ce5, 20%)
			--primary-light lighten(#749ce5, 20%)
			--secondary #747474
