.volume-slider
	display flex
	align-items center
	justify-content flex-end



	&__button
		display inline-block
		cursor pointer
		background transparent
		border none
		outline none



	&__icon
		display block
		flex-shrink 0
		width 32px
		height 32px
		transition fill .2s ease
		fill $color-accent-secondary

		&:hover
			fill $color-accent-secondary-hover

		&.icon_volume_off
			fill #ef5350

			&:hover
				fill #e57373



	&__slider
		flex-basis 100px
		max-width 100px
		margin 0 8px
