*,
*:before,
*:after
	box-sizing border-box
	margin 0

#__nuxt,
#__layout
	height 100%

.icon
	max-width 100%
	max-height 100%

.page
	height 100%
	min-height 100%

	&__main
		display flex
		flex-direction column
		height 100%

	&__body
		overflow hidden auto
		height 100%
		min-height 100%
		color var(--primary-text)
		font-family 'Roboto', sans-serif
		font-size 14px
		background-color var(--primary-background)

		&_overflow
			&_hidden
				overflow hidden

	&__header
		position fixed
		top 0
		right 0
		left 0
		z-index 99

	&__content
		flex-grow 1
		padding-top calc(53px + 20px)
		padding-bottom 20px
