.player
	position relative
	display flex
	flex-wrap nowrap
	flex-direction row
	height 72px
	padding 16px
	background var(--secondary-background)

	+above(size-l)
		padding 16px 32px

	&__slider
		position absolute
		top -6px
		right 0
		left 0

	&__controls
		display flex
		align-items center
		height 100%

		&_position
			&_left
				justify-content left
				flex 0 0 1px

				+above(size-m)
					flex-basis 150px

				+above(size-l)
					flex-basis 250px

			&_right
				justify-content right
				flex 0 0 40px

				+above(size-m)
					flex-basis 180px

				+above(size-l)
					flex-basis 250px

			&_center
				overflow hidden
				justify-content flex-start
				flex-grow 1
				min-width 0

				+above(size-l)
					justify-content center

	&__button
		flex-shrink 0
		width 40px
		height 40px
		padding 8px
		cursor pointer
		user-select none
		background transparent
		border none
		outline none

		&:hover,
		&:active
			border-radius 80px

		&:hover
			background rgba(255, 255, 255, .07)

		&:active
			background rgba(255, 255, 255, .1)

		&_size
			&_large
				width 56px
				height 56px

			&_medium
				width 46px
				height 46px

		&_type
			&_active
				& ^[0]__button-icon
					fill #ffffff

	&__button-icon
		fill #cccccc

	&__duration
		display none
		padding 0 16px
		color #aaaaaa
		font-size 12px
		font-weight 500
		white-space nowrap

		+above(size-s)
			display block

	&__artwork
		display none
		flex-shrink 0
		height 100%
		max-height 100%

		+above(size-l)
			display block

	&__metadata
		overflow hidden
		flex-grow 1
		margin-left 16px
		font-size 14px

		+above(size-l)
			flex-grow 0
			font-size 16px

	&__metadata-title
		overflow hidden
		color #ffffff
		font-weight bold
		white-space nowrap
		text-overflow ellipsis

	&__metadata-artist
		overflow hidden
		color #aaaaaa
		white-space nowrap
		text-overflow ellipsis

	&__voting
		display none
		padding-left 8px

		+above(size-m)
			display flex

		& ^[0]__button
			margin 0 4px

	&__volume-slider
		display none
		flex-grow 1

		+above(size-m)
			display block
