$color-bg-primary = #242731
$color-bg-secondary = #808080

$color-accent-primary = #749ce5
$color-accent-primary-hover = #88b0f9
$color-accent-secondary = #808080
$color-accent-secondary-hover = #909090

$color-text-header = #f0f0f0
$color-text-primary = #dfdfdf
$color-text-secondary = #bababa

$color-border = #1e212b

$shadow-color = rgba(0, 0, 0, .6)
